body {
    font-family: 'Domine', serif;
}



.form-field-error {
    background-color: rgba(200, 0, 0, 0.3);
    margin: 0.2em;
    font-weight: bold;
}

.blue-btn {
    color: black;
    background-color: #4767ed;
    text-decoration: none;
    border-radius: 0.1em;
    border: 2px solid black;
    padding: 0.3em;
    margin: 0.2em;
    display: inline-block;
}

.blue-btn:hover {
    background-color: #3656dc;
}

.yellow-btn {
    color: black;
    background-color: #eddf47;
    text-decoration: none;
    border-radius: 0.1em;
    border: 2px solid black;
    padding: 0.3em;
    margin: 0.2em;
    display: inline-block;
}

.yellow-btn:hover {
    background-color: #dcce36;
}

.red-btn {
    color: black;
    background-color: #ed4755;
    text-decoration: none;
    border-radius: 0.1em;
    border: 2px solid black;
    padding: 0.3em;
    margin: 0.2em;
    display: inline-block;
}

.red-btn:hover {
    background-color: #dc3644;
}

.green-btn {
    color: black;
    background-color: #58ed47;
    text-decoration: none;
    border-radius: 0.1em;
    border: 2px solid black;
    padding: 0.3em;
    margin: 0.2em;
    display: inline-block;
}

.green-btn:hover {
    background-color: #47dc36;
}

.red-text-error {
    color: #dc3644;
}

.form-label {
    font-style: italic;
}


/* Indigo Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #3949ab;
    --primary-hover: #303f9f;
    --primary-focus: rgba(57, 73, 171, 0.125);
    --primary-inverse: #FFF;
}

.mainPagePhoto {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/concorde.jpg") no-repeat center;
    background-size: cover;
    min-height: 100%;
}

.dimmed-nav {
    background: #cacadb;
    padding: 0.5em;
    border-radius: 0.3em;
    box-shadow: 2px 2px 4px 4px #00000055;
    margin-bottom: 0.5em;
}