<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Błąd</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
</head>
<body>
<main class="container">
    <article>
        <header><h1>Nie jesteś upoważniony do wykonania tej akcji</h1></header>
        <h1>W razie wątpliwości skonsultuj się z administratorem, lekarzem lub farmaceutą</h1>
        <footer><a href="/static">Powrót do strony głównej</a></footer>
    </article>
</main>
</body>
</html>