<!DOCTYPE html>
<html lang="en" data-theme="light" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>JetSoft - portal pracownika</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
</head>
<body>
    <main class="container-fluid">
        <header>
            <nav class="dimmed-nav">
                <ul>
                    <li><strong>JetSoft - portal pracownika</strong></li>
                </ul>
                <ul>
                    <li role="list" dir="rtl">
                        <a href="#" aria-haspopup="listbox">Menu</a>
                        <ul role="listbox">
                            <li><a href="/employee/flightList">Zarządzaj lotami</a></li>
                            <li><a href="/employee/routeList">Zarządzaj trasami przelotowymi</a></li>
                            <li><a href="/employee/vehicleList">Zrządzaj pojazdami</a></li>
                            <li><a href="/employee/employeeList">Zarządzaj pracownikami</a></li>
                            <li><a href="/employee/customerList">Przeglądaj listę zarejestrowanych użytkowników</a></li>
                            <li><a href="/employee/profileView" class="secondary">Twój profil</a></li>
                            <li><a href="/logout" role="button" class="secondary outline" style="margin: 0.2em">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section layout:fragment="content">
            <div></div>
        </section>
        <footer>
            JetSoft copyright 2023. PW-KK-MT.
        </footer>
    </main>
</body>
</html>