<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Lista rezerwacji</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
</head>
<body>
<main class="container">
    <h1>Lista rezerwacji</h1>
    <a role="button" class="secondary" href="/customer/flightList?page=0"><-- Przeglądaj dostępne loty</a>
    <div th:if="${#lists.isEmpty(reservations)}">
        Brak złożonych rezerwacji!
    </div>
    <figure th:unless="${#lists.isEmpty(reservations)}">
        <table role="grid">
            <tr>
                <th>#</th>
                <th>Numer rezerwacji</th>
                <th>Numer lotu</th>
                <th>Z</th>
                <th>Do</th>
                <th>Planowany odlot</th>
                <th>Planowany przylot</th>
                <th>Data rezerwacji</th>
                <th>Akcje</th>
            </tr>
            <tr th:each="reservation,i : ${reservations}">
                <td th:text="${i.count}"></td>
                <td th:text="${reservation.reservationNumber}"></td>
                <td th:text="${reservation.flightNumber}"></td>
                <td th:text="|${reservation.sourceCity}, ${reservation.sourceNationality}|"></td>
                <td th:text="|${reservation.destinationCity}, ${reservation.destinationNationality}|"></td>
                <td th:text="${reservation.departureDate}"></td>
                <td th:text="${reservation.arrivalDate}"></td>
                <td th:text="${reservation.reservationDate}"></td>
                <td>
                    <form th:method="delete" th:action="@{/custmoer/removeReservation}">
                        <input type="hidden" class="red-btn" name="id"  th:value="${reservation.reservationId}">
                        <input type="submit" class="red-btn" value="Usuń rezerwację">
                    </form>
                </td>
            </tr>
        </table>
    </figure>
</main>

</body>
</html>