<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common-employee-layout}">
<body>
<main class="container">
    <section layout:fragment="content">
        <div>
            <h1>Lista lotów</h1>
            <div>
                <a class="green-btn" href="/employee/editFlight">Dodaj nowy lot</a>
            </div>
            <figure>
                <table role="grid">
                    <tr>
                        <th>L.P.</th>
                        <th>Aktywny?</th>
                        <th>Kod lotu</th>
                        <th>Z</th>
                        <th>Do</th>
                        <th>Planowany odlot</th>
                        <th>Planowany przylot</th>
                        <th>Liczba ustalonych miejsc</th>
                        <th>Liczba pozostałych miejsc</th>
                        <th>Data ostatniej modyfikacji</th>
                        <th>Akcje</th>
                    </tr>
                    <tr th:each="flightRowDto,iterStat : ${flights}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${flightRowDto.active}? 'TAK' : 'NIE'"></td>
                        <td th:text="${flightRowDto.flightNumber}"></td>
                        <td th:text="${flightRowDto.sourceCity} + ', ' + ${flightRowDto.sourceNationality}"></td>
                        <td th:text="${flightRowDto.destinationCity} + ', ' + ${flightRowDto.destinationNationality}"></td>
                        <td th:text="${flightRowDto.plannedDeparture}"></td>
                        <td th:text="${flightRowDto.plannedArrival}"></td>
                        <td th:text="${flightRowDto.availablePassengersSeats}"></td>
                        <td th:text="${flightRowDto.leftPassengersSeats}"></td>
                        <td th:text="${flightRowDto.lastModificationDate}"></td>
                        <td>
                            <a class="yellow-btn" th:href="@{/employee/editFlight(id=${flightRowDto.flightId})}">Zobacz szczegóły i modyfikuj</a>
                            <form th:method="delete" th:action="@{/employee/deleteFlight}">
                                <input type="hidden" class="red-btn" name="deleteId"  th:value="${flightRowDto.flightId}">
                                <input type="submit" class="red-btn" value="Usuń lot">
                            </form>
                        </td>
                    </tr>
                </table>
            </figure>
        </div>
    </section>
</main>
</body>
</html>