<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<h1>Lista lotów</h1>
<table>
    <tr>
        <th>L.P.</th>
        <th>Kod lotu</th>
        <th>Z</th>
        <th>Do</th>
        <th>Planowany odlot</th>
        <th>Planowany przylot</th>
        <th>Liczba dostępnych miejsc</th>
    </tr>
    <tr th:each="flight,iterStat : ${flights}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${flight.flightNumber}"></td>
        <td th:text="${flight.sourceCity} + ', ' + ${flight.sourceNationality}"></td>
        <td th:text="${flight.destinationCity} + ', ' + ${flight.destinationNationality}"></td>
        <td th:text="${flight.plannedDeparture}"></td>
        <td th:text="${flight.plannedArrival}"></td>
        <td th:text="${flight.availablePassengersSeats}"></td>
    </tr>
</table>
</body>
</html>