<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common-employee-layout}">
<body>
<main class="container">
    <section layout:fragment="content">
        <div>
            <form method="post" th:action="@{/employee/addFlight}" th:object="${flightForm}">
                <div th:classappend="${#fields.hasErrors('routeId')}? form-field-error">
                    <label for="f-flight-route" class="form-label">Trasa:</label>
                    <br>
                    <select id="f-flight-route" th:field="*{routeId}">
                        <option th:each="route : ${routeList}"
                                th:value="${route.routeId}"
                                th:text="${route.sourceCityName} + ', '
                         + ${route.sourceNationalityName} + ' --> '
                         + ${route.destinationCityName} + ', '
                         + ${route.destinationNationalityName} + ', dystans ' + ${route.distance} + ' km'"></option>
                    </select>
                </div>

                <div th:classappend="${#fields.hasErrors('routeId')}? form-field-error">
                    <label for="f-flight-vehicle" class="form-label">Pojazd:</label>
                    <br>
                    <select id="f-flight-vehicle" th:field="*{vehicleId}">
                        <option th:each="vehicle : ${vehicleList}"
                                th:value="${vehicle.vehicleId}"
                                th:with="fn=${not #strings.isEmpty(vehicle.friendlyName)}? '&quot;' + ${vehicle.friendlyName} + '&quot;, ' : '' "
                                th:text="${fn} + ${vehicle.vehicleType}
                        + ', ' + ${vehicle.vehicleModel}
                        + ', max. dyst.: ' + ${vehicle.maxDistance} + 'km | max. pas.: ' + ${vehicle.maxPassengers} + ' | max. pilotów: ' + ${vehicle.maxPilots}">
                        </option>
                    </select>
                </div>

                <div class="container">
                    <div>Piloci obecnie przypisani do lotu:</div>
                    <div th:each="pilotData: ${dataOfCurrentlyAssignedPilots}">
                        <span th:text="|Pilot nr. ${pilotDataStat.count}|"></span>
                        <div th:text="|${pilotData.firstName} ${pilotData.lastName}. Pochodzi z ${pilotData.nationalityName}, ${pilotData.hoursOfExperience} wylatanych godzin|"></div>
                    </div>
                </div>

                <div class="red-text-error" th:each="err : ${#fields.errors('routeId')}"
                     th:text="${err}">
                </div>

                <div th:classappend="${#fields.hasErrors('flightNumber')}? form-field-error">
                    <label for="f-flight-number" class="form-label">Numer lotu</label>
                    <br>
                    <input type="text"
                           th:field="*{flightNumber}"
                           id="f-flight-number"/>
                    <div class="red-text-error" th:each="err : ${#fields.errors('flightNumber')}"
                         th:text="${err}"></div>
                </div>

                <div th:classappend="${#fields.hasErrors('plannedDeparture')}? form-field-error">
                    <label for="f-planned-departure" class="form-label">Planowany odlot</label>
                    <br>
                    <input type="datetime-local"
                           th:field="*{plannedDeparture}"
                           id="f-planned-departure"/>
                    <div class="red-text-error" th:each="err : ${#fields.errors('plannedDeparture')}"
                         th:text="${err}"></div>
                </div>

                <div th:classappend="${#fields.hasErrors('plannedArrival')}? form-field-error">
                    <label for="f-planned-arrival" class="form-label">Planowany przylot</label>
                    <br>
                    <input type="datetime-local"
                           th:field="*{plannedArrival}"
                           id="f-planned-arrival"/>
                    <div class="red-text-error" th:each="err : ${#fields.errors('plannedArrival')}"
                         th:text="${err}"></div>
                </div>

                <div th:classappend="${#fields.hasErrors('availablePassengersSeats')}? form-field-error">
                    <label for="f-available-passengers-seats" class="form-label">Dostępna ilość miejsc</label>
                    <br>
                    <input type="number"
                           th:field="*{availablePassengersSeats}"
                           id="f-available-passengers-seats"/>
                    <div class="red-text-error" th:each="err : ${#fields.errors('availablePassengersSeats')}"
                         th:text="${err}"></div>
                </div>

                <div th:classappend="${#fields.hasErrors('minPilotCount')}? form-field-error">
                    <label for="f-min-pilot-count" class="form-label">Minimalna ilość pilotów</label>
                    <br>
                    <input type="number"
                           th:field="*{minPilotCount}"
                           id="f-min-pilot-count"/>
                    <div class="red-text-error" th:each="err : ${#fields.errors('minPilotCount')}"
                         th:text="${err}"></div>
                </div>

                <div th:classappend="${#fields.hasErrors('confidential')}? form-field-error">
                    <label for="f-confidential" class="form-label">Czy lot jest poufny?</label>
                    <br>
                    <input type="checkbox"
                           th:field="*{confidential}"
                           id="f-confidential"/>
                    <div class="red-text-error" th:each="err : ${#fields.errors('confidential')}"
                         th:text="${err}"></div>
                </div>

                <div th:classappend="${#fields.hasErrors('archival')}? form-field-error">
                    <label for="f-archival" class="form-label">Czy lot jest archiwalny?</label>
                    <br>
                    <input type="checkbox"
                           th:field="*{archival}"
                           id="f-archival"/>
                    <div class="red-text-error" th:each="err : ${#fields.errors('archival')}"
                         th:text="${err}"></div>
                </div>

                <input type="hidden" th:field="*{id}">
                <input type="submit" value="Zapisz">
            </form>
        </div>
    </section>
</main>
</body>
</html>