<!DOCTYPE html>
<html lang="en" data-theme="light" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>JetSoft</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
</head>
<body class="mainPagePhoto">
<main class="container">
    <nav>
        <ul>
            <li><strong style="color: white">JetSoft</strong></li>
        </ul>
        <ul>
            <li><a href="/customerPublic/flightList?page=0" role="button">Przeglądaj dostępne loty</a></li>
            <li><a href="/customer/profileView" role="button" class="secondary">Zaloguj się</a></li>
            <li><a href="/registration/customer" role="button" class="secondary">Zarejestruj się</a></li>
            <li><a href="/employee/profileView" role="button" class="outline">Portal pracownika</a></li>
        </ul>
    </nav>
</main>
</body>
</html>