<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>JetSoft - portal pracownika</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
</head>
<body>
<main class="container">
    <div class="grid">
        <div><a href="/flightList" role="button">Przeglądaj lub dodaj lot</a></div>
        <div><a href="/vehicleList" role="button" class="secondary">Przeglądaj lub dodaj pojazdy</a></div>
        <div><a href="/employeeList" role="button" class="secondary outline">Zarządzaj pracownikami</a></div>
        <div><a href="/customerList" role="button" class="outline">Przeglądaj listę zarejestrowanych użytkowników</a></div>
        <div><a href="/customer/flightList?page=0" role="button">Loty dla klientów</a></div>
        <div><a href="/registration/customer" role="button">Rejestracja dla klientów</a></div>
    </div>
</main>
</body>
</html>