<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common-employee-layout}">
<body>
<main class="container">
    <section layout:fragment="content">
        <div>
            <h1>Lista pilotów</h1>
            <h3 th:text="'Obecna liczba pilotów to: ' + ${#lists.size(pilots)}"></h3>
            <h3 th:if="${#lists.isEmpty(pilots)}">
                Nie znaleziono żadnych pilotów!
            </h3>
            <figure>
                <table th:unless="${#lists.isEmpty(pilots)}">
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Pochodzenie</th>
                        <th>Numer licencji</th>
                        <th>Przypisany to lotów:</th>
                        <th>Liczba wylatanych godzin</th>
                        <th>Status</th>
                        <th>Akcje</th>
                    </tr>
                    <tr th:each="p,i : ${pilots}">
                        <td th:text="${i.count}"></td>
                        <td th:text="${p.pilotId}"></td>
                        <td th:text="${p.firstName}"></td>
                        <td th:text="${p.lastName}"></td>
                        <td th:text="${p.nationalityName}"></td>
                        <td th:text="${p.licenseNumber}"></td>
                        <td>
                            <p th:if="${#lists.isEmpty(p.assignedFlightsNumbers)}">Brak przypisań do lotów</p>
                           <details th:unless="${#lists.isEmpty(p.assignedFlightsNumbers)}">
                               <summary>Lista przypisań do lotów</summary>
                               <ol>
                                   <th:block th:each="f : ${p.assignedFlightsNumbers}">
                                       <li th:text="|Lot o numerze ${f}|"></li>
                                   </th:block>
                               </ol>
                           </details>
                        </td>
                        <td th:text="${p.hoursOfExperience}"></td>
                        <td th:text="${p.statusName}"></td>
                        <td>
                            <a role="button" th:href="@{/employee/editPilot(id=${p.pilotId})}">Modyfikuj dane pilota</a>
                        </td>
                    </tr>
                </table>
            </figure>
        </div>
    </section>
</main>
</body>
</html>