<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common-employee-layout}">
<body>
<main class="container">
    <section layout:fragment="content">
        <div>
            <a role="button" href="/employee/pilotList">Powrót do listy pilotów</a>
            <form method="post" th:action="@{/employee/savePilot}" th:object="${pilotForm}">
                <label>Numer licencji
                    <input type="text" th:field="*{licenseNumber}"/>
                </label>
                <div class="red-text-error" th:each="e : ${#fields.errors('licenseNumber')}" th:text="${e}"></div>

                <label>Narodowość
                    <select th:field="*{nationalityId}">
                        <option th:each="n : ${nationalities}" th:value="${n.nationalityId}" th:text="${n.nationalityName}"></option>
                    </select>
                </label>
                <div class="red-text-error" th:each="e : ${#fields.errors('nationalityId')}" th:text="${e}"></div>

                <label>Status
                    <select th:field="*{statusId}">
                        <option th:each="s : ${statuses}" th:value="${s.statusId}" th:text="${s.statusName}"></option>
                    </select>
                </label>
                <div class="red-text-error" th:each="e : ${#fields.errors('statusId')}" th:text="${e}"></div>

                <label>Liczba wylatanych godzin
                    <input type="number" th:field="*{hoursOfExperience}"/>
                </label>
                <div class="red-text-error" th:each="e : ${#fields.errors('hoursOfExperience')}" th:text="${e}"></div>

                <div>
                    Obecnie przypisany do:
                    <p th:if="${#lists.isEmpty(pilotForm.assignedFlights)}">żadnych lotów</p>
                    <details th:unless="${#lists.isEmpty(pilotForm.assignedFlights)}">
                        <summary></summary>
                        <ol>
                            <th:block th:each="f : *{assignedFlights}">
                                <li
                                        th:text="|Lot ${f.flightNumber}, ${f.sourceCity} do ${f.destinationCity}. Odlot ${f.plannedDeparture}, przylot ${f.plannedArrival}|">
                                </li>
                            </th:block>
                        </ol>
                    </details>
                </div>

                <input type="hidden" th:field="*{pilotId}">
                <input type="submit" value="Zapisz"/>
            </form>
            <br>
            Wybierz lot, do którego chcesz przypisać pilota:
            <div style="margin: 0.5em" th:if="${#lists.isEmpty(flightsToAssign)}">
                <strong>Brak lotów, do których można przypisać tego pilota</strong>
            </div>
            <form th:unless="${#lists.isEmpty(flightsToAssign)}" method="post" th:action="@{/employee/assignToFlight}">
                <label>Lot do wyboru
                    <select name="flightId">
                        <option
                                th:each="f : ${flightsToAssign}"
                                th:value="${f.flightId}"
                                th:text="|Lot ${f.flightNumber}, ${f.sourceCity} do ${f.destinationCity}. Odlot ${f.plannedDeparture}, przylot ${f.plannedArrival}|"></option>
                    </select>
                </label>
                <input type="hidden" name="pilotId" th:value="${pilotForm.pilotId}">
                <input type="submit" value="Przypisz do lotu">
            </form>

            <div th:unless="${#lists.isEmpty(pilotForm.assignedFlights)}">
                Wybierz numer lotu, od którego pilot będzie usunięty:
                <form th:method="delete" th:action="@{/employee/removeFromFlight}">
                    <label>Lot do wyboru
                        <select name="flightId">
                            <option
                                    th:each="f : ${pilotForm.assignedFlights}"
                                    th:value="${f.flightId}"
                                    th:text="|Lot ${f.flightNumber}, ${f.sourceCity} do ${f.destinationCity}. Odlot ${f.plannedDeparture}, przylot ${f.plannedArrival}|"></option>
                        </select>
                    </label>
                    <input type="hidden" name="pilotId" th:value="${pilotForm.pilotId}">
                    <input type="submit" class="secondary" value="Usuń z lotu">
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>