<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common-employee-layout}">
<body>
<main class="container">
  <section layout:fragment="content">
    <div>
      <h1>Lista pojazdów</h1>
      <div>
        <a role="button" href="/employee/editVehicle">Dodaj nowy pojazd</a>
      </div>
      <figure>
        <table>
          <tr>
            <th>L.P.</th>
            <th>Typ pojazdu</th>
            <th>Model pojazdu</th>
            <th>Przyjazna nazwa</th>
            <th>Maksymalna ilość pasażerów</th>
            <th>Maksymalna ilość pilotów</th>
            <th>Maksymalny udźwig [kg]</th>
            <th>Maksymalny zasięg [km]</th>
            <th>Data wypożyczenia</th>
            <th>Data następnego przeglądu</th>
            <th>Akcje</th>
          </tr>
          <tr th:each="vehicleRowDto,iterStat : ${vehicles}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${vehicleRowDto.vehicleType}"></td>
            <td th:text="${vehicleRowDto.vehicleModel}"></td>
            <td th:text="${vehicleRowDto.friendlyName}"></td>
            <td th:text="${vehicleRowDto.maxPassengerCount}"></td>
            <td th:text="${vehicleRowDto.maxPilotCount}"></td>
            <td th:text="${vehicleRowDto.liftCapacity}"></td>
            <td th:text="${vehicleRowDto.maxDistance}"></td>
            <td th:text="${vehicleRowDto.rentDate}"></td>
            <td th:text="${vehicleRowDto.nextMaintenanceDate}"></td>
            <td>
              <a class="yellow-btn" th:href="@{/employee/editVehicle(id=${vehicleRowDto.vehicleId})}">Zobacz szczegóły i modyfikuj</a>
              <form th:method="delete" th:action="@{/employee/deleteVehicle}">
                <input type="hidden" class="red-btn" name="deleteId"  th:value="${vehicleRowDto.vehicleId}">
                <input type="submit" class="red-btn" value="Usuń pojazd">
              </form>
            </td>
          </tr>
        </table>
      </figure>
    </div>
  </section>
</main>
</body>
</html>