<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common-logged-customer-layout}">
<head>
    <title>Lista rezerwacji</title>
</head>
<body>
<main class="container">
    <section layout:fragment="content">
        <div>
            <h1>Lista rezerwacji</h1>
            <a role="button" class="secondary" href="/customer/flightList?page=0"><-- Przeglądaj dostępne loty</a>
            <div th:if="${#lists.isEmpty(reservations)}">
                Brak złożonych rezerwacji!
            </div>
            <figure th:unless="${#lists.isEmpty(reservations)}">
                <table role="grid">
                    <tr>
                        <th>#</th>
                        <th>Numer rezerwacji</th>
                        <th>Numer lotu</th>
                        <th>Z</th>
                        <th>Do</th>
                        <th>Planowany odlot</th>
                        <th>Planowany przylot</th>
                        <th>Data rezerwacji</th>
                        <th>Akcje</th>
                    </tr>
                    <tr th:each="reservation,i : ${reservations}">
                        <td th:text="${i.count}"></td>
                        <td th:text="${reservation.reservationNumber}"></td>
                        <td th:text="${reservation.flightNumber}"></td>
                        <td th:text="|${reservation.sourceCity}, ${reservation.sourceNationality}|"></td>
                        <td th:text="|${reservation.destinationCity}, ${reservation.destinationNationality}|"></td>
                        <td th:text="${reservation.departureDate}"></td>
                        <td th:text="${reservation.arrivalDate}"></td>
                        <td th:text="${reservation.reservationDate}"></td>
                        <td>
                            <form th:method="delete" th:action="@{/customer/removeReservation}">
                                <input type="hidden" class="red-btn" name="reservationId"  th:value="${reservation.reservationId}">
                                <input type="submit" class="red-btn" value="Usuń rezerwację">
                            </form>
                        </td>
                    </tr>
                </table>
            </figure>
        </div>
    </section>
</main>
</body>
</html>